@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    --third-color: 203, 157, 116;
    --secondary-color: 127, 84, 51;
    --primary-color: 255, 255, 236;
    --fourth-color: 101, 69, 31;

}
[data-theme= 'light'] {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    --third-color: 203, 157, 116;
    --secondary-color: 127, 84, 51;
    --primary-color: 255, 255, 236;
    --fourth-color: 101, 69, 31;
  

}

[data-theme= 'dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --fifth-color: 21, 0, 80;
  --fourth-color: 255, 255, 255;
  --third-color: 63, 0, 113;
  --secondary-color: 97, 0, 148;
  /* --primary-color: 0,0,0; */
  --primary-color: 14, 12, 20;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --fifth-color: 21, 0, 80;
    --fourth-color: 255, 255, 255;
    --third-color: 63, 0, 113;
    --secondary-color: 97, 0, 148;
    --primary-color: 14, 12, 20;
    
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--primary-color));
}
